</main>
    <footer>
        <div class="footer-content flex justify-between">
            <div class="text-spotify-green text-xl font-bold">Spopify</div>
            <p>&copy; 2025 Spopify. All rights reserved.</p>  
            <nav class="navbar flex justify-between items-center">
                <div class="flex space-x-4">
                    <a href="/" class="text-spotify-white hover:text-spotify-green">Inicio</a>
                    <a href="/canciones" class="text-spotify-white hover:text-spotify-green">Canciones</a>
                    <a href="/plataformas" class="text-spotify-white hover:text-spotify-green">Plataformas</a>
                </div>
            </nav>
        </div>
    </footer>
</body>
</html>
