</main>
    <footer class="bg-black mt-8 py-6">
        <div class="container mx-auto px-4">
            <div class="footer-content flex flex-col md:flex-row justify-between items-center">
                <div class="text-spotify-green text-xl font-bold mb-4 md:mb-0">Spopify</div>
                <p class="text-spotify-gray mb-4 md:mb-0">&copy; 2025 Spopify. All rights reserved.</p>  
                <nav>
                    <div class="flex space-x-6">
                        <a href="/" class="nav-link flex items-center">
                            <i class="fas fa-home mr-1"></i> Inicio
                        </a>
                        <a href="/canciones" class="nav-link flex items-center">
                            <i class="fas fa-music mr-1"></i> Canciones
                        </a>
                        <a href="/playlists" class="nav-link flex items-center">
                            <i class="fas fa-list-ul mr-1"></i> Playlists
                        </a>
                        <a href="/plataformas" class="nav-link flex items-center">
                            <i class="fas fa-podcast mr-1"></i> Plataformas
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>
